In [3]:
import pyodbc

In [4]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)']

In [1]:
c = {    
    "driver": "SQL SERVER",
    "server": "LT-W1828-HH\SQLSERVER2019",
    "database": "AdventureWorks2019",
    "username": "sandbox",
    "password": "mytestpassword"
}

connection_string = f"DRIVER={{{c['driver']}}}; SERVER={c['server']}; Database={c['database']}; UID={c['username']}; PWD={c['password']};"

This query will fetch everything in the Currency table of the Sales object of the Adventure Works 2019 database

In [28]:
query = """
    SELECT *
    FROM AdventureWorks2019.Sales.Currency;
"""

In [30]:
with pyodbc.connect(connection_string) as conx:
    cursor = conx.cursor()
    cursor.execute(query)
    data = cursor.fetchall()

In [34]:
data[:5]

[('AED', 'Emirati Dirham', datetime.datetime(2008, 4, 30, 0, 0)),
 ('AFA', 'Afghani', datetime.datetime(2008, 4, 30, 0, 0)),
 ('ALL', 'Lek', datetime.datetime(2008, 4, 30, 0, 0)),
 ('AMD', 'Armenian Dram', datetime.datetime(2008, 4, 30, 0, 0)),
 ('ANG', 'Netherlands Antillian Guilder', datetime.datetime(2008, 4, 30, 0, 0))]

In [56]:
[row for row in cursor.columns(table="Currency")] # Where is "Name?"

[('AdventureWorks2019', 'Sales', 'Currency', 'CurrencyCode', -8, 'nchar', 3, 6, None, None, 0, None, None, -8, None, 6, 1, 'NO', 47),
 ('AdventureWorks2019', 'Sales', 'Currency', 'ModifiedDate', 93, 'datetime', 23, 16, 3, None, 0, None, '(getdate())', 9, 3, None, 3, 'NO', 61)]

This query will get only the United States Dollar and Colombian Peso from the database.

In [73]:
query = """
    SELECT *
    FROM AdventureWorks2019.Sales.Currency
    WHERE Name IN ('US Dollar', 'Colombian Peso');
"""

In [74]:
with pyodbc.connect(connection_string) as conx:
    cursor = conx.cursor()
    cursor.execute(query)
    data = cursor.fetchall()

In [75]:
data[:5]

[('COP', 'Colombian Peso', datetime.datetime(2008, 4, 30, 0, 0)),
 ('USD', 'US Dollar', datetime.datetime(2008, 4, 30, 0, 0))]