# Pandas Assignment 2
In this assignment you will practice working with Pandas dataframes.

Specifically, you will be carrying out the following excercises:

1. Work with Pandas indexes.
2. Use filtering to get subsets of dataframes.
3. Update rows and columns.

### Note about assignments
You can add lines of code according to you preferences. As long as the code required by the assignment is found in this notebook file, you will receive credit for it regardless of the presence of additional code. You will lose points for removing starting code if it prevents the notebook from running correctly.

## About the data
The data used in this assignment is a table built from the Human Resources schema of the Adventure Works 2019 database. This data contains information about each time that Employee Pay History was changed (each line is a pay rate change). It also contains information about the employee and the department they were working in when they received the pay rate listed.

The actual data is stored in a `.csv` file located inside the `data` directory. The file is called `pay_history.csv`.

##### Imports, dataframe, etc.

## Instructions

Answer the questions below. Make sure to show your work and your answers as the output to the cells.

### Indexes
##### Question 1: Get the column `DepartmentName` as a Series object. Save it into a variable called `departmentSeries`.

##### Question 2: Get the value counts of each unique value in the `DepartmentName` series.

##### Question 3: Use the `.loc` property to get rows 25, 80, and 122 and the `JobTitle` column.

##### Question 4: Did the previous question return a dataframe or a Series object? Why might this have happened?

`Your answer here`

##### Question 5: Get the first through sixth columns and the last 5 rows using `.iloc`

### Filtering

##### Question 6: Filter the dataframe to only include rows where the employee is in the Engineering department.

##### Question 7: Filter the dataframe to include rows where the employee is either in the Engineering department or the Quality Assurance sub-department.

##### Question 8: Filter the dataframe to only include rows with the word "Manager" in the title.

##### Question 9: Get a dataframe of all employees who are not salaried and are married and work in the finance department.

##### Question 10: Get a dataframe of all employees hired in 2009 who are paid more than $40 per hour. Remember that Pandas currently thinks that the `HireDate` field is a string (use this as an advantage).

### Updating Rows and Columns

##### Question 11: Change the column names to be all lowercase. Make sure that this change is reflected in the original dataframe.

##### Question 12: Create a function that can grab the employee's username out of the `loginid`. Apply the function to the `loginid` Series.

You can used either a named or anonymous function. Note that you do not need to save this new Series as a column since that has not been covered yet.

##### Question 13: Use the `.apply()` method to change the `rate` column to be rounded to two decimal places.

##### Question 14: Use the `.map()` method to change the values in the `maritalstatus` column to say either Married or Not Married.

##### Question 15: Use the `.replace()` method to replace "Chief Executive Office" with "President and CEO" in the column `jobtitle`. Show the first five rows of the dataframe.