# Pandas Assignment 2
In this assignment you will practice working with Pandas dataframes.

Specifically, you will be carrying out the following excercises:

1. Work with Pandas indexes.
2. Use filtering to get subsets of dataframes.
3. Update rows and columns.

### Note about assignments
You can add lines of code according to you preferences. As long as the code required by the assignment is found in this notebook file, you will receive credit for it regardless of the presence of additional code. You will lose points for removing starting code if it prevents the notebook from running correctly.

## About the data
The data used in this assignment is a table built from the Human Resources schema of the Adventure Works 2019 database. This data contains information about each time that Employee Pay History was changed (each line is a pay rate change). It also contains information about the employee and the department they were working in when they received the pay rate listed.

The actual data is stored in a `.csv` file located inside the `data` directory. The file is called `pay_history.csv`.

##### Imports, dataframe, etc.

Use the code below to show all columns in the dataframe:

```python
pd.set_option('display.max_columns', None)
```

## Instructions

Answer the questions below. Make sure to show your work and your answers as the output to the cells.

### Indexes
##### Question 1: Get the column `DepartmentName` as a Series object. Save it into a variable called `departmentSeries`.

<p style="font-size:.75rem">Expected output: None</p>

##### Question 2: Get the value counts of each unique value in the `DepartmentName` series.

<p style="font-size:.75rem">Expected output: Series of value counts for 16 unique department names.</p>

##### Question 3: Use the `.loc` property to get rows 25, 80, and 122 and the `JobTitle` column.

<p style="font-size:.75rem">Expected output: Series or dataframe from JobTitle column with three rows, indexes 25, 80, and 122. The job titles are Marketing Specialist, Production Technician - WC30, and Production Technician - WC50.</p>

##### Question 4: Did the previous question return a dataframe or a Series object? Why might this have happened?

Remember that dataframes are formatted so that when you move your mouse over the rows, they change color. Series 

<p style="font-size:.75rem">Expected output: None</p>

```
Your answer here.
```

##### Question 5: Get the first through sixth columns and the last 5 rows using `.iloc`

<p style="font-size:.75rem">Expected output: Rows with indexes 298-302 and columns DepartmentID, RateChangeDate, Rate, PayFrequency, and LoginID</p>

### Filtering

##### Question 6: Filter the dataframe to only include rows where the employee is in the `DepartmentName` Engineering.

<p style="font-size:.75rem">Expected output: Rows with indexes 1, 2, 3, 6, 7, 15, and 16</p>

##### Question 7: Filter the dataframe to include rows where the employee is either in the `DepartmentName` of Engineering or the `Sub-Department` of Quality Assurance.

<p style="font-size:.75rem">Expected output: Rows with indexes 1-7, 15-16, 214-224, 259, and 261, or 20 rows total</p>

##### Question 8: Filter the dataframe to only include rows with the word "Manager" in the `JobTitle`.

<p style="font-size:.75rem">Expected output: 24 rows returned starting with row of index 2 and ending with row of index 300</p>

##### Question 9: Get a dataframe of all employees who are not salaried, are married, and work in the `DepartmentName` of Finance.

<p style="font-size:.75rem">Expected output: 3 rows, indexes 250, 254, 255</p>

##### Question 10: Get a dataframe of all employees hired in 2009 who are paid more than $40 per hour. Remember that Pandas currently thinks that the `HireDate` field is a string (use this as an advantage).

<p style="font-size:.75rem">Expected output: 7 rows starting with index 0 and ending with index 242</p>

### Updating Rows and Columns

##### Question 11: Change the column names to be all lowercase. Make sure that this change is reflected in the original dataframe (ie. print it out).

<p style="font-size:.75rem">Expected output: DataFrame with lowercase column names</p>

##### Question 12: Use the appropriate method to change the values in the `maritalstatus` column to say either Married or Not Married.

<p style="font-size:.75rem">Expected output: A Series whose values are either "Not Married" or "Married"</p>

##### Question 13: Use the appropriate method to replace "Chief Executive Officer" with "President and CEO" in the column `jobtitle`. Show the first five rows of the dataframe.

<p style="font-size:.75rem">Expected output: 5 rows, indexes 0-4</p>

##### EXTRA CREDIT Question 14: Use the function `get_username()` to grab the employee's username out of the `loginid`. Apply the function to the `loginid` column.

Use the function `get_username()` provided to you below and apply it to the column `loginid`. Note that you do not need to save this new Series as a column since that has not been covered yet.

<p style="font-size:.75rem">Expected output: A Series of usernames, starting with "ken0", "terri0", "roberto0", etc.</p>

In [ ]:
def get_username(login):
    return login.split('\\')[-1]

##### EXTRA CREDIT Question 15: Use the appropriate method to apply the function `round_to_two_decimals()` to the `rate` column.

Use the function `round_to_two_decimals()` provided to you below and apply it to the column `rate`. Note that you do not need to save this new Series as a column since that has not been covered yet.

<p style="font-size:.75rem">Expected output: A Series of decimal numbers, rounded to two decimal places and starting with 125.50, 63.46, and 43.27</p>

In [ ]:
def round_to_two_decimals(rate):
    return round(rate,2)