# 3.5 Cleaning Data

In [127]:
import pandas as pd
df = pd.read_csv('dirty_senator_tweets.csv')

C:\Users\HaydenH\AppData\Local\Temp\ipykernel_7612\3245726006.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dirty_senator_tweets.csv')

In [46]:
df.head()

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,views,user,bioguide_id,party,state
0,0,10/19/2017 21:47,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,NaN,amyklobuchar,K000367,D,MN
1,1,10/19/2017 18:48,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,NaN,amyklobuchar,K000367,D,MN
2,2,10/19/2017 18:14,Lots of interest in my bill with Senators Warn...,https://twitter.com/amyklobuchar/status/921077...,36,227,932,NaN,amyklobuchar,K000367,D,MN
3,3,10/19/2017 18:04,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,NaN,amyklobuchar,K000367,D,MN
4,4,10/19/2017 16:33,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,NaN,amyklobuchar,K000367,D,MN

### Null values

In [35]:
df.isna().sum()

Unnamed: 0          0
created_at     203336
text                0
url                 0
replies             0
retweets            0
favorites           0
views          288596
user                0
bioguide_id         0
party               0
state               0
null_state          0
dtype: int64

In [8]:
df.loc[ ~(df['views'].isna()) ]

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,views,user,bioguide_id,party,state
19145,19145,NaN,Inhofe introduces Senate's first permanent fix...,https://twitter.com/InhofePress/status/2307763...,0,2,0,250.0,InhofePress,I000024,R,OK
38148,38148,NaN,Remembering those officers killed in the line ...,https://twitter.com/MarkWarner/status/86428427...,14,46,235,15159.0,MarkWarner,W000805,D,VA
43335,43335,NaN,This level of surveillance absolutely should c...,https://twitter.com/MartinHeinrich/status/7758...,1,44,14,866.0,MartinHeinrich,H001046,D,NM
54009,54009,NaN,"Congratulations, graduates! https://t.co/cODhr...",https://twitter.com/MikeCrapo/status/861932614...,2,2,6,274.0,MikeCrapo,C000880,R,ID
70902,70902,2/22/2016 22:00,Tune in to the @SenateFloor now. I'll be readi...,https://twitter.com/Sen_JoeManchin/status/7018...,2,1,1,252.0,Sen_JoeManchin,M001183,D,WV
72745,72745,NaN,Today we've introduced the Chemical Safety &am...,https://twitter.com/Sen_JoeManchin/status/4281...,5,9,3,385.0,Sen_JoeManchin,M001183,D,WV
75353,75353,2/10/2015 20:31,@GOPHELP Chairman Alexander asks Dr. Anne Schu...,https://twitter.com/SenAlexander/status/565246...,1,1,0,250.0,SenAlexander,A000360,R,TN
106327,106327,9/11/2015 21:03,ICYMI: Take a look at my latest op-ed on last ...,https://twitter.com/SenatorFischer/status/6424...,1,1,0,250.0,SenatorFischer,F000463,R,NE
121198,121198,6/29/2017 23:49,RT @Patbagley: They're like movie villains fro...,https://twitter.com/SenatorLeahy/status/880573...,13,62,142,14702.0,SenatorLeahy,L000174,D,VT
129386,129386,NaN,Sunrise over the Missouri River. Photo by Shay...,https://twitter.com/SenatorRounds/status/59529...,1,7,11,327.0,SenatorRounds,R000605,R,SD
136026,136026,4/2/2015 21:57,If we can make school more affordable for nurs...,https://twitter.com/SenatorTester/status/58375...,1,4,2,258.0,SenatorTester,T000464,D,MT
150734,150734,NaN,Standing w/#OldLyme 1st Selectwoman Bonnie Ree...,https://twitter.com/SenBlumenthal/status/81206...,1,2,11,272.0,SenBlumenthal,B001277,D,CT
156080,156080,2/23/2017 20:41,Appreciate @thornäó»s support of the #EndSlave...,https://twitter.com/SenBobCorker/status/834865...,30,225,472,318625.0,SenBobCorker,C001071,R,TN
169792,169792,NaN,Great news for Pueblo and all Colorado:\r\r'Pu...,https://twitter.com/SenCoryGardner/status/6249...,1,7,5,285.0,SenCoryGardner,G000562,R,CO
177564,177564,NaN,Congrats to the @cityofhenderson's Regional Le...,https://twitter.com/SenDeanHeller/status/71744...,0,1,2,250.0,SenDeanHeller,H001041,R,NV
185693,185693,NaN,RT @JerryBrownGov: To everyone impacted by the...,https://twitter.com/SenFeinstein/status/919331...,196,689,2360,318704.0,SenFeinstein,F000062,D,CA
188262,188262,NaN,The wage gap persists when women perform the s...,https://twitter.com/SenFeinstein/status/719962...,5,20,35,3750.0,SenFeinstein,F000062,D,CA
194074,194074,NaN,We must support blight removal efforts that im...,https://twitter.com/SenGaryPeters/status/67934...,0,1,2,250.0,SenGaryPeters,P000595,D,MI
284117,284117,NaN,I'm celebrating #NationalParkWeek with a throw...,https://twitter.com/SteveDaines/status/7222091...,1,3,16,298.0,SteveDaines,D000618,R,MT

##### Drop column

In [10]:
df.drop(columns='views', inplace=True)

##### Drop null rows

In [14]:
df.dropna(how='any', subset=['created_at'], inplace=True)

##### Impute missing states

##### Imputation

In [34]:
df.loc[ df['state'].isna() ]

Empty DataFrame
Columns: [Unnamed: 0, created_at, text, url, replies, retweets, favorites, views, user, bioguide_id, party, state, null_state]
Index: []

In [30]:
df['null_state'] = df['state'].isna()

In [32]:
def fix_null_states(row):
    if row['null_state']:
        return df.loc[ df['user'] == row['user']]['state'].mode()[0]
    else:
        return row['state']

In [23]:
filt = df['user'] == 'senorrinhatch'
df.loc[filt, 'state']

227756    UT
227757    UT
227758    UT
227759    UT
227760    UT
          ..
230955    UT
230956    UT
230957    UT
230958    UT
230959    UT
Name: state, Length: 3204, dtype: object

In [33]:
df['state'] = df.apply(fix_null_states, axis=1)

In [38]:
df.loc[ df['user'] == 'SenatorHassan', 'state'].value_counts()

NH    3241
Name: state, dtype: int64

### Data Type Doesn't Match

In [51]:
df.dtypes

Unnamed: 0       int64
created_at      object
text            object
url             object
replies          int64
retweets         int64
favorites       object
views          float64
user            object
bioguide_id     object
party           object
state           object
dtype: object

In [52]:
df['favorites'].astype('int64')

ValueError: invalid literal for int() with base 10: 'T'

In [57]:
filt = df['favorites'] == 'T'
df.loc[filt].index
df.drop(index=df.loc[filt].index, inplace=True)

In [60]:
df['favorites'] = df['favorites'].astype('int64')

In [61]:
df.dtypes

Unnamed: 0       int64
created_at      object
text            object
url             object
replies          int64
retweets         int64
favorites        int64
views          float64
user            object
bioguide_id     object
party           object
state           object
dtype: object

### Inconsistent format

In [95]:
df['state'].unique().shape

(51,)

In [101]:
df['party'].unique()

array(['D', 'R', 'F', 'Q', 'I'], dtype=object)

In [107]:
filt = df['party'] == 'Republican'
df.loc[filt]

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,views,user,bioguide_id,party,state
14438,14438,NaN,@senjoniernst and I met w 60 North Polk HS stu...,https://twitter.com/ChuckGrassley/status/72286...,3,0,1,NaN,ChuckGrassley,G000386,Republican,IA
14439,14439,NaN,Pork producers from Iowa in town to talk about...,https://twitter.com/ChuckGrassley/status/72283...,8,6,8,NaN,ChuckGrassley,G000386,Republican,IA
14440,14440,NaN,Visited w VGM of Waterloo https://t.co/sPQIrzhvLV,https://twitter.com/ChuckGrassley/status/72277...,6,1,5,NaN,ChuckGrassley,G000386,Republican,IA

In [128]:
df['party'] = df['party'].replace({'Republican': 'R'})

### Extreme Values

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288615 entries, 0 to 288614
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   288615 non-null  int64
 1   created_at   85279 non-null   object
 2   text         288615 non-null  object
 3   url          288615 non-null  object
 4   replies      288615 non-null  int64
 5   retweets     288615 non-null  int64
 6   favorites    288615 non-null  object
 7   views        19 non-null      float64
 8   user         288615 non-null  object
 9   bioguide_id  288615 non-null  object
 10  party        288615 non-null  object
 11  state        288613 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 26.4+ MB

In [133]:
df.describe()

          Unnamed: 0        replies      retweets          views
count  288615.000000  288615.000000  2.886150e+05      19.000000
mean   144307.000000      41.901758  2.489682e+02   35547.736842
std     83316.118309     470.367102  7.793342e+03   99874.007656
min         0.000000       0.000000  0.000000e+00     250.000000
25%     72153.500000       1.000000  3.000000e+00     251.000000
50%    144307.000000       3.000000  8.000000e+00     285.000000
75%    216460.500000      13.000000  3.200000e+01    2308.000000
max    288614.000000   66872.000000  3.644423e+06  318704.000000

In [121]:
df['party'].value_counts()

R    146278
D    136082
I      6255
Name: party, dtype: int64

In [115]:
possible_parties = ['R', 'D', 'I']
filt = df['party'].isin(possible_parties)
df.loc[~filt]

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,views,user,bioguide_id,party,state
55474,55474,NaN,Welcomed leaders from the Shoshone-Bannock Tri...,https://twitter.com/MikeCrapo/status/443457340...,0,0,0,NaN,MikeCrapo,C000880,F,ID
59895,59895,NaN,The victims of wage theft are often low-wage w...,https://twitter.com/PattyMurray/status/7112695...,6,9,15,NaN,PattyMurray,M001111,Q,WA

In [129]:
df.loc[ df['user'] == 'MikeCrapo', 'party'] = 'R'

In [130]:
df.loc[ df['user'] == 'PattyMurray', 'party'] = 'D'

In [132]:
df.loc[ df['replies'] < 0, 'replies'] *= -1

In [134]:
import numpy as np
q1 = np.quantile(df['replies'], .25)
q3 = np.quantile(df['replies'], .75)
iqr = q3 - q1

def is_outlier(row):
    return row > q3 + (1.5 * iqr)

In [140]:
filt = df['replies'].apply(is_outlier)
not_outlier_df = df.loc[ ~filt ]

In [141]:
not_outlier_df

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,views,user,bioguide_id,party,state
0,0,10/19/2017 21:47,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,NaN,amyklobuchar,K000367,D,MN
1,1,10/19/2017 18:48,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,NaN,amyklobuchar,K000367,D,MN
3,3,10/19/2017 18:04,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,NaN,amyklobuchar,K000367,D,MN
4,4,10/19/2017 16:33,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,NaN,amyklobuchar,K000367,D,MN
5,5,NaN,Great chat w @chrislhayes about Sessions heari...,https://twitter.com/amyklobuchar/status/921031...,9,37,221,NaN,amyklobuchar,K000367,D,MN
...,...,...,...,...,...,...,...,...,...,...,...,...
288610,288610,7/28/2015 15:33,Such a zone would allow the flow of unfettered...,https://twitter.com/timkaine/status/6260527578...,0,4,1,NaN,timkaine,K000384,D,VA
288611,288611,NaN,I welcome greater cooperation between the U.S....,https://twitter.com/timkaine/status/6260526304...,2,7,2,NaN,timkaine,K000384,D,VA
288612,288612,NaN,Educacií_n sobre la prevencií_n del abuso sexu...,https://twitter.com/timkaine/status/6257210135...,0,1,0,NaN,timkaine,K000384,D,VA
288613,288613,NaN,Education on sexual assault prevention should ...,https://twitter.com/timkaine/status/6257198751...,4,5,1,NaN,timkaine,K000384,D,VA
288614,288614,NaN,"25 years since passage, the ADA has helped ens...",https://twitter.com/timkaine/status/6253537947...,1,13,17,NaN,timkaine,K000384,D,VA