# Advanced Pandas Assignment 2

In this assignment, you will practice grouping and aggregating data inside of Pandas dataframes. You will also practice using string operations on string data.

### Note about assignments
You can add lines of code according to your preferences. As long as the code required by the assignment is found in this notebook under the corresponding task header (ie. the code and answers for task 1 are underneath the title "Task 1"), you will receive credit for it.

## About the data
The data used in this assignment is a table built from the Human Resources schema of the Adventure Works 2019 database. This data contains information about each time that Employee Pay History was changed (each line is a pay rate change). It also contains information about the employee and the department they were working in when they received the pay rate listed. 

The actual data is stored in a CSV file located inside the `data` folder. The file is called `pay_history.csv`.

## Instructions

Write code to complete the tasks below.

### Set up
##### Import Pandas
Import the Pandas library into Jupyter Lab.

<p style="font-size:.75rem">Expected output: None</p>

##### Disable column display limit
Use the following code to disable the default limit for displaying columns. If you don't use this code, a data set with more than 20 columns will be truncated when displayed to take up less space.

```python
pd.options.display.max_columns = None
```

<p style="font-size:.75rem">Expected output: None</p>

##### Create the dataframe
Read the data from the `pay_history.csv` file into a dataframe called `df`.

<p style="font-size:.75rem">Expected output: None</p>

##### Preview dataframe
Print out the first 5 rows of the dataframe.

<p style="font-size:.75rem">Expected output: 5 rows, indexes 0-4</p>

### Questions
---
#### Task 1: Top Paid Employee

Write code to filter the dataframe to show only employees who have the highest `Rate` of all employees. Print out this filtered dataframe and then answer the question below.

<p style="font-size:.75rem">Expected output: Dataframe with one row</p>

##### What is the Job Title and Organization Level of the top paid employee?

<p style="font-size:.75rem">Expected output: None</p>

```
Your answer here.
```

---
#### Task 2: Top Paid Employee by Organization Level

Write code to examine the maximum, average, median, and minimum `Rate` for each `OrganizationLevel`. Then, answer the question below.

<p style="font-size:.75rem">Expected output: Aggregated dataframe</p>

##### What do you notice?
Observe the rankings of maximum and average rates of pay. What do you notice about the differences between these rankings? What might the rankings be different?

<p style="font-size:.75rem">Expected output: None</p>

```
Your answer here.
```

---
#### Task 3: Hire Date
Print out information about the dataframe to answer the written question below. Then, using the column `HireDate`, create three new columns called `HireDay`, `HireMonth`, and `HireYear` that contain these date parts. Print out the resulting dataframe.

<p style="font-size:.75rem">Expected output: Dataframe with three new columns `HireDay`, `HireMonth`, and `HireYear`</p>

##### What is the data type of `HireDate`?
What is the data type of `HireDate`? What does that mean?

<p style="font-size:.75rem">Expected output: None</p>

```
Your answer here.
```

---
#### Task 4: Hiring rates
Using the column you just created `HireYear`, count up how many employees were hired in each year. Get both a normal count (including employees who simply changed positions) and a distinct count (not including position changes in a single year). Use the `EmployeeID` field.

<p style="font-size:.75rem">Expected output: Aggregated dataframe</p>

##### Best growth year
Which year saw the most growth in terms of number of employees? What does this make you think about the organization?

```
Your answer here.
```

---
#### Task 5: Assistant vacation days expectation
Anna knows you from your past life and is seeking employement at Adventure Works as an assistant. She doesn't know what or who she would be an assistant to, but she wants you to help her get the inside scoop on how many vacation days she might get if hired.

Get the count, average, and median vacation days for employees with the word 'Assistant' in their `JobTitle`, grouped by `Sub-Department`.

<p style="font-size:.75rem">Expected output: Aggregated dataframe with count, average, and median `VacationDays` for assistants</p>

---
#### Task 6: Add aggregation for `SickLeaveHours` and `Rate`
Add to the code above to include aggregations across `Sub-Department` using `SickLeaveHours` and `Rate`. Get the mean and median of `SickLeaveHours` and `Rate` across `Sub-Department`.

Then, answer the question below.

<p style="font-size:.75rem">Expected output: Aggregation table that includes values from above in addition to mean and median SickLeaveHours and Rate.</p>

##### Best sub-department?
Looking at the aggregated table above, which of the sub-departments gives assistants the most vacation hours? Which one gives the most sick leave hours? Which one pays the most (use the median)?

<p style="font-size:.75rem">Expected output: None</p>

```
Best for vacation hours: ?
Best for sick leave hours: ?
Best for pay: ?
```

---