# Connecting to a Live SQL Server Database - Video Walkthrough

In [1]:
import sqlalchemy as sql
import pandas as pd

In [2]:
driver = "ODBC Driver 17 for SQL Server"
server = "LT-W1828-HH\SQLSERVER2019"
db = "AdventureWorks2019"

In [3]:
connection_string = f"mssql+pyodbc://{server}/{db}?driver={driver}"

In [4]:
connection_string

'mssql+pyodbc://LT-W1828-HH\\SQLSERVER2019/AdventureWorks2019?driver=ODBC Driver 17 for SQL Server'

In [5]:
engine = sql.create_engine(connection_string)

In [6]:
engine

Engine(mssql+pyodbc://LT-W1828-HH\SQLSERVER2019/AdventureWorks2019?driver=ODBC+Driver+17+for+SQL+Server)

In [8]:
connection = engine.connect()

In [9]:
query = '''
    SELECT *
    FROM Person.PersonPhone
    ;
'''

In [10]:
query

'\n    SELECT *\n    FROM Person.PersonPhone\n    ;\n'

In [12]:
df = pd.read_sql(query, connection)

In [13]:
df.head()

   BusinessEntityID   PhoneNumber  PhoneNumberTypeID ModifiedDate
0                 1  697-555-0142                  1   2009-01-07
1                 2  819-555-0175                  3   2008-01-24
2                 3  212-555-0187                  1   2007-11-04
3                 4  612-555-0100                  1   2007-11-28
4                 5  849-555-0139                  1   2007-12-30